@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #0000;
}

#style-3::-webkit-scrollbar-thumb
{
  background-color: transparent;
  transition: background-color 200ms linear;
}
